.goalsWrapper {
  width: 95%;
  height: 100%;
  background-color: #ffff;
}

.goalsWrapper > h6 {
  color: #46484a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-size: 0.7rem;
}

.goalTitle {
  margin-left: 10px;
}

.progressBar {
  margin-left: 15px;
  margin-bottom: 5px;
}

.pogressbarParent {
  width: 90%;
  height: 1vh;
  background-color: rgb(195, 217, 237);
  border-radius: 10px;
}

.pogressbarChild {
  height: 100%;
  background-color: #4c83b7;
  border-radius: 10px;
}
.goalCard {
  width: 90%;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 2px solid rgba(132, 139, 200, 0.18);
  border-radius: 5px;
}

.goalTitle > h6 {
  font-size: 0.7em;
  color: #46484a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.goalTitle > small {
  font-size: 0.6em;
  color: #46484a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.progressBar > small {
  font-size: 0.7em;
  font-weight: 900;
  color: #46484a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
